.cart-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .back-home-link {
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .cart-header {
    font-size: 36px;
    margin-bottom: 0px;
  }
  
  .empty-cart {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .cart-item-title {
    font-size: 24px;
    margin-right: 20px;
    margin-top: 30px; 
  }

    .cart-item-actions {
        display: flex;
        flex-direction: row; 
      }
      
      .add-button, .remove-button {
        width: 30px;
        height: 30px;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
        margin-right: 10px;
        font-size: 18px;
        padding: 0px;
      }
      
      .cart-item-price {
        font-size: 18px;
        margin-left: 20px;
      }
      
      .cart-separator {
        margin: 20px 0;
      }
      
      .cart-total-section {
        margin-bottom: 10px;
      }
      
      .cart-total-price {
        font-size: 18px;
      }
      
       h2{
        font-size: 24px;
        margin-bottom: 20px;
        color: linear-gradient(-225deg, rgb(183, 248, 219) 0%, rgb(80, 167, 194) 100%) !important;
      }
      
      .checkout-button {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        background-color: lightgray;
        font-size: 18px;
        margin: 0 auto;
        display: block;
      }

      .checkout-button:hover{
        transform: scale(1.2); 
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        background-color:#3d1635;
      }

    .remove-button{
      background-color: red;
    }
      
  