.navbar .button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 50px;
  margin: 0;
  outline: none;
  padding: 0 20px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100px;
  }
  
  .navbar .button:hover {
  background-color:	#e0c351;
  color: #333;
  cursor: pointer;
  }
  
  .navbar .button::before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease;
  width: 4px;
  z-index: -1;
  }
  
  .navbar .button:hover::before {
  transform: scaleX(1);
  }

  ul{
    list-style: none;
  }

  .material-icons, a{
    color: white;
  }