/*CSS page*/
/*New Css Project*/
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.216);
  flex-direction: row !important;
  overflow: hidden;
}

.navbar .a {
  text-decoration: none;
  color: rgba(255, 250, 250, 0.812);
  margin-right: 20px;
  font-size: 20px;
  padding: auto;
}



.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.home h1 {
  font-size: 36px;
}