.single-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
    margin: 25px;
    border-color: black;
  }

  .review-description {
    color: red;
  }
  
  .review-creator {
    color: red;
  }

  .review-rating {
    color: red;
  }

  /* .review-body {
    background-image: url(https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_4b2cd345e3ddcbd077c96207452218eb/powerreviews.png);
    background-size: contain;
    background-attachment: fixed;  
} */
/* .title {
    padding: 0%;
} */