@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
.font {
  font-family: "Lato", sans-serif;
}

.html {
  display: grid;
  min-height: 100%;
}

.body {
  display: grid;
  background: light;
  font-family: font, sans-serif;
  text-transform: uppercase;
}

.single-product-container {
  top: -10%;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 560px;
  height: 515px;
  background: linear-gradient(-225deg, rgb(183, 248, 219) 0%, rgb(80, 167, 194) 100%) !important;
  box-shadow: 5px 5px 15px rgba(#ff69b4, 0.5);
  border-radius: 15px;
}

p {
  font-size: 1em;
  color: #000000;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  margin-top: -5px;
}

img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one,
.two,
.three,
.four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: light;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}
.product {
    width: 40%;
    height: auto;
    position: absolute;
    /* top: 10%; */
    left: 60%;
    /* padding: 10px; */
    box-sizing: border-box;
  }
  
  .description {
    margin-bottom: 17px;
    color: #333;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-right: 25px;
    text-align: justify;
    text-transform: none;
    letter-spacing: 0;
  }
  
  button {
    background: darken(light, 10%);
    /* padding: 10px; */
    display: inline-block;
    outline: 0;
    border: 0;
    /* margin: 10px 0; */
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
    .add {
      width: 67%;
      margin-top: 10px;
    }

    .all {
      width: 100%;
    }
  
  .add:hover, .all:hover {
    background: rgba(228, 16, 16, 0.621);
    transition: all 0.4s ease-in-out;
  }
  

.focus {
  background: #600303;
  color: white;
}
